// -----------------------------------------------------------------------------
// This file contains all styles related to the logo component.
// -----------------------------------------------------------------------------

.header__logo {
  #logo {
    max-width: 90%;
    width: 50rem;
    margin: 0 auto 2rem;
    display: block;

    @include tabletPlus() {
      margin: 4rem auto;
    }
  }
}
