// -----------------------------------------------------------------------------
// This file contains all styles related to the logo component.
// -----------------------------------------------------------------------------

.header__logo {
  padding-left: 4rem;

  #logo {
    max-width: 90%;
    width: 50rem;
    margin: 0 auto 2rem;
    // opacity: 0.1;
    display: block;

    // @include tabletPlus {
    //   margin-right: 10rem;
    // }
  }
}
