// -----------------------------------------------------------------------------
// This file contains all styles related to the banner of the site/application.
// -----------------------------------------------------------------------------

.hero-section {
  .container {
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .header {
    position: relative;
    background-color: $white;

    @include tabletPlus {
      background-color: transparent;
      background-image: url("/assets/images/bg_white.png");
      background-size: 70% 100%;
      background-repeat: no-repeat;
    }
    @include desktop {
      display: flex;
      align-items: flex-end;
      width: 70%;
      background-size: 70rem 100%;
    }
  }
}
